.pagination {
  display: flex;
  gap: 20px;
  width: 340px;
  margin: 61px auto 0;
  @include media-tablet {
    margin-top: 37px;
  }

  @include media-mobile {
    gap: 10px;
    justify-content: center;
    width: 100%;
  }

  @include media-mobilesm {
    margin-top: 42px;
    margin-bottom: 20px;
    gap: 10px;
    width: 100%;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border: 2px solid $color-primary;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    @extend %transition;

    &:disabled {
      border-color: $color-menu;
      cursor: default;
      pointer-events: none;
      &>svg>path {
        fill: $color-menu;
      }
    }

    &--active {
      background-color: $color-primary;
      color: $color-bg;
      @include font(20px, 23px, 400);
      cursor: default;
      pointer-events: none;
    }

    &:hover {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
    }
  }
}
