@font-face {
  font-family: 'Arial';
  src: url('../../assets/fonts/Arial.woff2')format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/Georgia-Bold.woff2')format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/Georgia.woff2')format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/Georgia-Italic.woff2')format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}