$color-nav: #010201;
$color-maintext: #B1AEAD;
$color-additional: #E06733;
$color-description: #636060;

$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-text: #4C4C4C;
$color-title: #545454;
$color-white: #fff;
$color-light: #F6F6F6;
$color-menu-active: #FAFAFA;
$color-menu: #CDCDCD;
$color-grey: #B2B2B2;
$color-dark: #444444;
$color-bg: #292929;

$content-width: 1280px;
$xl-width: 1220px;
$lg-width: 768px;
$m-width: 767px;
$sm-width: 320px;